.mb-10{margin-bottom: 10px;}
.mb-16{margin-bottom: 16px;}
.mb-29{margin-bottom: 29px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}
.mb-90{margin-bottom: 90px;}
.mb-115{margin-bottom: 115px;}
.mb-131{margin-bottom: 131px;}
.mb-150{margin-bottom: 150px;}

.mr-15{margin-right: 15px;}
.mr-32{margin-right: 32px;}
.mr-40{margin-right: 40px;}
.mr-48{margin-right: 48px;}
.mr-125{margin-right: 125px;}

.ml-15{margin-left: 15px;}
.ml-165{margin-left: 165px;}

.mt-35{margin-top: 35px;}
.mt-48{margin-top: 48px;}