.mb-8{margin-bottom: 8px;}
.mb-24{margin-bottom: 24px;}
.mb-48{margin-bottom: 48px;}
.mb-54{margin-bottom: 54px;}
.mb-94{margin-bottom: 94px;}

.mr-15{margin-right: 15px;}
.mr-40{margin-right: 40px;}
.mr-48{margin-right: 48px;}

.ml-165{margin-left: 165px;}